:root {
  --ff-headings: "Poppins", sans-serif;
  --ff-body: "Open Sans", sans-serif;

  --fw-normal: 400;
  --fw-bold: 600;

  --fs-100: 0.75rem;
  --fs-200: 0.975rem;
  --fs-500: 1.5rem;
  --fs-600: 1.875rem;

  --clr-neutral-400: hsl(229, 6%, 66%);

  --clr-white: hsl(0, 100%, 100%);
  --clr-violet: hsl(257, 40%, 49%);
  --clr-magenta: hsl(300, 69%, 71%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

html,
body {
  height: 100%;
}

html {
  font-family: var(--ff-body);
  font-weight: var(--fw-normal);
  line-height: 1.7;
  color: var(--clr-white);

  background-image: url(images/bg-mobile.svg);
  //background-size: auto 100%;
  background-position-x: top;
  background-position-y: left;
  background-repeat: no-repeat;
  background-size: auto 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-color: var(--clr-violet);
}

body {
  margin: 0;
  font-size: var(--fs-200);
}

h1 {
  font-family: var(--ff-headings);
  font-weight: var(--fw-bold);
  font-size: var(--fs-500);
  line-height: 1.7;
  margin-block-end: 1rem;
}

h1 span {
  display: block;
}

.wrapper {
  min-width: 375px;
  max-width: 1440px;
  padding-inline: 2.375rem;
  margin-inline: auto;
}

.layout-grid {
  --gap: 3.625rem;
  display: grid;
  align-items: center;
  row-gap: var(--gap);
}

header {
  margin-block: 2.35rem 3.35rem;
}

main {
  text-align: center;
}

.logo {
  max-width: 40%;
}

.btn,
.btn:link,
.btn:visited {
  font-family: var(--ff-headings);
  display: inline-block;
  color: var(--clr-violet);
  background-color: var(--clr-white);
  text-decoration: none;
  margin-block: 2rem 2rem;
  padding: 0.875rem 4.5rem;
  border-radius: 100vmax;
  box-shadow: 0px 5px 10px rgb(0 0 0 / 25%);
}

.btn:focus,
.btn:hover,
.btn:active {
  transition: all 0.25s ease;
  color: var(--clr-magenta);
  box-shadow: 0px 10px 5px rgb(0 0 0 / 25%);
  //background-color: var(--clr-neutral-400);
}

.social-icons {
  --gap: 1rem;
  display: flex;
  margin-block: 2rem;
  justify-content: center;
  gap: var(--gap);
}

.icon,
.icon:link,
.icon:visited {
  display: inline-block;
  color: var(--clr-white);
  border: 1px solid var(--clr-white);
  border-radius: 50%;
  padding: 0.25em 0.5em;
  cursor: pointer;
}

.icon:focus,
.icon:hover,
.icon:active {
  color: var(--clr-magenta);
  border-color: var(--clr-magenta);
  transition: all 0.25s ease;
}

.attribution {
  margin-block: 2rem;
  font-size: var(--fs-100);
  text-align: center;
}

.attribution a,
.attribution a:link,
.attribution a:visited {
  color: var(--clr-neutral-400);
  text-decoration: none;
  border-bottom: 1px solid;
}
.attribution a:focus,
.attribution a:hover,
.attribution a:active {
  color: var(--clr-white);
}

@media (min-width: 800px) {
  html {
    background-image: url(images/bg-desktop.svg);
  }

  header {
    margin-block: 3.5rem 5.625rem;
  }

  .wrapper {
    padding-inline: 5rem;
  }

  .layout-grid {
    grid-template-columns: 55% 35%;
    column-gap: 5%;
  }

  h1 {
    font-size: var(--fs-600);
  }

  main {
    text-align: left;
  }

  .social-icons {
    justify-content: flex-end;
  }
}
